The data is of different cars given with their specifications,.

Import the library.

In [32]:
import pandas as pd

Import the Dataset

In [33]:
car = pd.read_csv('car_data.csv')

car.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [34]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

In [35]:
car.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [36]:
car.tail(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [37]:
#Shape shows how many rows and columns are available in a dataset.

car.shape

(432, 15)

In [38]:
# Find the null value and fix in column 

car.isnull() #function used to check the null value in data sets.

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [39]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [46]:
# Fill the null values with help mean of null column value . 

car['Weight'].fillna(car['Weight']).mean()

3577.9532710280373

In [54]:
#fill the null values with help mean of null columns value
car['Weight'].fillna(car['Weight']).mean(),inplace=True

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (56232302.py, line 2)

In [51]:
#Fill the multiple null values 

car.fillna(value=0,inplace=True)

In [55]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [57]:
car.notnull().sum()

Make           432
Model          432
Type           432
Origin         432
DriveTrain     432
MSRP           432
Invoice        432
EngineSize     432
Cylinders      432
Horsepower     432
MPG_City       432
MPG_Highway    432
Weight         432
Wheelbase      432
Length         432
dtype: int64

In [58]:
#Find duplicates 

car[car.duplicated()]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
39,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
173,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
# Remove duplicates 

car.drop_duplicates()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [61]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [62]:
# How many types of Makes of car are in the data ? 

car['Make'].value_counts()

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Kia              11
Mazda            11
Lexus            11
Pontiac          11
Subaru           11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Porsche           7
Saab              7
Acura             7
0                 4
Oldsmobile        3
Jeep              3
Land Rover        3
MINI              2
Scion             2
Isuzu             2
Hummer            1
Name: count, dtype: int64

In [64]:
#Check the different types of models available 

car['Model'].value_counts()

Model
0                                          4
G35 4dr                                    2
C320 4dr                                   2
C240 4dr                                   2
MDX                                        1
                                          ..
Ranger 2.3 XL Regular Cab                  1
F-150 Supercab Lariat                      1
F-150 Regular Cab XL                       1
Thunderbird Deluxe convert w/hardtop 2d    1
XC70                                       1
Name: count, Length: 426, dtype: int64

In [65]:
#Show the origin of the car. 

car[car["Origin"].isin(['Asia','Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [69]:
# Engine size of the car greater than 5 

car[car['EngineSize']>5]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
57,Cadillac,Escalade,SUV,USA,Front,"$52,795","$48,377",5.3,8.0,295.0,14.0,18.0,5367.0,116.0,199.0
64,Cadillac,Escalade EXT,Truck,USA,All,"$52,975","$48,541",6.0,8.0,345.0,13.0,17.0,5879.0,130.0,221.0
65,Chevrolet,Suburban 1500 LT,SUV,USA,Front,"$42,735","$37,422",5.3,8.0,295.0,14.0,18.0,4947.0,130.0,219.0
66,Chevrolet,Tahoe LT,SUV,USA,All,"$41,465","$36,287",5.3,8.0,295.0,14.0,18.0,5050.0,116.0,197.0
84,Chevrolet,Corvette 2dr,Sports,USA,Rear,"$44,535","$39,068",5.7,8.0,350.0,18.0,25.0,3246.0,105.0,180.0
85,Chevrolet,Corvette convertible 2dr,Sports,USA,Rear,"$51,535","$45,193",5.7,8.0,350.0,18.0,25.0,3248.0,105.0,180.0
86,Chevrolet,Avalanche 1500,Truck,USA,All,"$36,100","$31,689",5.3,8.0,295.0,14.0,18.0,5678.0,130.0,222.0
89,Chevrolet,Silverado SS,Truck,USA,All,"$40,340","$35,399",6.0,8.0,300.0,13.0,17.0,4804.0,144.0,238.0
90,Chevrolet,SSR,Truck,USA,Rear,"$41,995","$39,306",5.3,8.0,300.0,16.0,19.0,4760.0,116.0,191.0
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795","$74,451",8.3,10.0,500.0,12.0,20.0,3410.0,99.0,176.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
139,Ford,F-150 Supercab Lariat,Truck,USA,All,"$33,540","$29,405",5.4,8.0,300.0,14.0,18.0,5464.0,133.0,218.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265","$40,534",6.0,8.0,325.0,13.0,17.0,6133.0,130.0,219.0
149,GMC,Sierra HD 2500,Truck,USA,All,"$29,322","$25,759",6.0,8.0,300.0,13.0,18.0,5440.0,133.0,222.0
169,Hummer,H2,SUV,USA,All,"$49,995","$45,815",6.0,8.0,316.0,10.0,12.0,6400.0,123.0,190.0
233,Lincoln,Navigator Luxury,SUV,USA,All,"$52,775","$46,360",5.4,8.0,300.0,13.0,18.0,5969.0,119.0,206.0
266,Mercedes-Benz,CL600 2dr,Sedan,Europe,Rear,"$128,420","$119,600",5.5,12.0,493.0,13.0,19.0,4473.0,114.0,196.0
274,Mercedes-Benz,SL55 AMG 2dr,Sports,Europe,Rear,"$121,770","$113,388",5.5,8.0,493.0,14.0,21.0,4235.0,101.0,179.0
275,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,"$126,670","$117,854",5.5,12.0,493.0,13.0,19.0,4429.0,101.0,179.0
303,Nissan,Pathfinder Armada SE,SUV,Asia,Front,"$33,840","$30,815",5.6,8.0,305.0,13.0,19.0,5013.0,123.0,207.0
318,Nissan,Titan King Cab XE,Truck,Asia,All,"$26,650","$24,926",5.6,8.0,305.0,14.0,18.0,5287.0,140.0,224.0
332,Pontiac,GTO 2dr,Sports,USA,Rear,"$33,500","$30,710",5.7,8.0,340.0,16.0,20.0,3725.0,110.0,190.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0

In [70]:
#Check horsepower 

car[car['Horsepower']>270]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,14.0,20.0,3825.0,104.0,179.0
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,Subaru,Impreza WRX STi 4dr,Sports,Asia,All,"$31,545","$29,130",2.5,4.0,300.0,18.0,24.0,3263.0,100.0,174.0
381,Toyota,Land Cruiser,SUV,Asia,All,"$54,765","$47,986",4.7,8.0,325.0,13.0,17.0,5390.0,112.0,193.0
415,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,"$65,000","$59,912",4.2,8.0,335.0,16.0,22.0,5194.0,118.0,204.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0
424,Volvo,S60 R 4dr,Sedan,Europe,All,"$37,560","$35,382",2.5,5.0,300.0,18.0,25.0,3571.0,107.0,181.0

In [71]:
#Remove some columns according to condition 

car[car['EngineSize']>5]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
57,Cadillac,Escalade,SUV,USA,Front,"$52,795","$48,377",5.3,8.0,295.0,14.0,18.0,5367.0,116.0,199.0
64,Cadillac,Escalade EXT,Truck,USA,All,"$52,975","$48,541",6.0,8.0,345.0,13.0,17.0,5879.0,130.0,221.0
65,Chevrolet,Suburban 1500 LT,SUV,USA,Front,"$42,735","$37,422",5.3,8.0,295.0,14.0,18.0,4947.0,130.0,219.0
66,Chevrolet,Tahoe LT,SUV,USA,All,"$41,465","$36,287",5.3,8.0,295.0,14.0,18.0,5050.0,116.0,197.0
84,Chevrolet,Corvette 2dr,Sports,USA,Rear,"$44,535","$39,068",5.7,8.0,350.0,18.0,25.0,3246.0,105.0,180.0
85,Chevrolet,Corvette convertible 2dr,Sports,USA,Rear,"$51,535","$45,193",5.7,8.0,350.0,18.0,25.0,3248.0,105.0,180.0
86,Chevrolet,Avalanche 1500,Truck,USA,All,"$36,100","$31,689",5.3,8.0,295.0,14.0,18.0,5678.0,130.0,222.0
89,Chevrolet,Silverado SS,Truck,USA,All,"$40,340","$35,399",6.0,8.0,300.0,13.0,17.0,4804.0,144.0,238.0
90,Chevrolet,SSR,Truck,USA,Rear,"$41,995","$39,306",5.3,8.0,300.0,16.0,19.0,4760.0,116.0,191.0
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795","$74,451",8.3,10.0,500.0,12.0,20.0,3410.0,99.0,176.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
139,Ford,F-150 Supercab Lariat,Truck,USA,All,"$33,540","$29,405",5.4,8.0,300.0,14.0,18.0,5464.0,133.0,218.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265","$40,534",6.0,8.0,325.0,13.0,17.0,6133.0,130.0,219.0
149,GMC,Sierra HD 2500,Truck,USA,All,"$29,322","$25,759",6.0,8.0,300.0,13.0,18.0,5440.0,133.0,222.0
169,Hummer,H2,SUV,USA,All,"$49,995","$45,815",6.0,8.0,316.0,10.0,12.0,6400.0,123.0,190.0
233,Lincoln,Navigator Luxury,SUV,USA,All,"$52,775","$46,360",5.4,8.0,300.0,13.0,18.0,5969.0,119.0,206.0
266,Mercedes-Benz,CL600 2dr,Sedan,Europe,Rear,"$128,420","$119,600",5.5,12.0,493.0,13.0,19.0,4473.0,114.0,196.0
274,Mercedes-Benz,SL55 AMG 2dr,Sports,Europe,Rear,"$121,770","$113,388",5.5,8.0,493.0,14.0,21.0,4235.0,101.0,179.0
275,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,"$126,670","$117,854",5.5,12.0,493.0,13.0,19.0,4429.0,101.0,179.0
303,Nissan,Pathfinder Armada SE,SUV,Asia,Front,"$33,840","$30,815",5.6,8.0,305.0,13.0,19.0,5013.0,123.0,207.0
318,Nissan,Titan King Cab XE,Truck,Asia,All,"$26,650","$24,926",5.6,8.0,305.0,14.0,18.0,5287.0,140.0,224.0
332,Pontiac,GTO 2dr,Sports,USA,Rear,"$33,500","$30,710",5.7,8.0,340.0,16.0,20.0,3725.0,110.0,190.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0

In [73]:
car[~(car['EngineSize']>5)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [80]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,126.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,121.0,172.0

In [81]:
# Increase all the value of wheelbase columns by 5 

car['Wheelbase'] = car['Wheelbase'].apply(lambda x:x+5)
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,131.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,126.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,130.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,133.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,140.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,130.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,130.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,135.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,126.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,134.0,186.0

In [82]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,131.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,126.0,172.0

In [83]:
car['Wheelbase'] = car['Wheelbase'].apply(lambda x:x+5)

In [84]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,136.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,131.0,172.0

In [86]:
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,136.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,131.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,135.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,138.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,145.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,135.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,135.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,140.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,131.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,139.0,186.0

In [94]:
# Count How many sports cars available in car model 

car[car.Type == 'Sports'].Make.value_counts()

Make
Porsche          6
Mercedes-Benz    5
Jaguar           4
Audi             4
BMW              4
Mazda            4
Mitsubishi       3
Ford             3
Subaru           2
Nissan           2
Toyota           2
Chevrolet        2
Lexus            1
Hyundai          1
Honda            1
Dodge            1
Chrysler         1
Pontiac          1
Cadillac         1
Acura            1
Name: count, dtype: int64

In [95]:
car[car.Type == 'Sedan'].Make.value_counts()

Make
Mercedes-Benz    16
Toyota           16
Chevrolet        15
Audi             13
BMW              13
Chrysler         13
Honda            11
Ford             11
Volkswagen       11
Hyundai          10
Nissan            9
Kia               9
Volvo             9
Dodge             8
Pontiac           8
Jaguar            8
Mercury           7
Lincoln           7
Buick             7
Lexus             6
Mitsubishi        6
Infiniti          6
Saab              6
Saturn            6
Subaru            6
Suzuki            5
Acura             5
Mazda             4
Cadillac          4
Oldsmobile        3
MINI              2
GMC               1
Scion             1
Name: count, dtype: int64

In [96]:
# Count engine size according to model 

car.groupby('Make').EngineSize.sum()

Make
0                  0.0
Acura             21.3
Audi              58.1
BMW               62.5
Buick             33.5
Cadillac          37.9
Chevrolet        100.8
Chrysler          44.4
Dodge             45.3
Ford              81.7
GMC               37.2
Honda             40.5
Hummer             6.0
Hyundai           28.6
Infiniti          31.0
Isuzu              7.4
Jaguar            46.3
Jeep              10.4
Kia               25.8
Land Rover        11.5
Lexus             40.9
Lincoln           37.6
MINI               3.2
Mazda             24.1
Mercedes-Benz    101.5
Mercury           35.6
Mitsubishi        36.1
Nissan            57.9
Oldsmobile         9.0
Pontiac           37.7
Porsche           24.8
Saab              14.9
Saturn            18.4
Scion              3.0
Subaru            28.0
Suzuki            18.6
Toyota            75.1
Volkswagen        42.1
Volvo             29.5
Name: EngineSize, dtype: float64

In [97]:
#Find the horsepower according to model 

car.groupby('Make').Horsepower.describe()

,count,mean,std,min,25%,50%,75%,max
Make,,,,,,,,
0,4.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
Acura,7.0,239.285714,35.757117,200.0,212.50,225.0,267.50,290.0
Audi,19.0,250.789474,70.951140,170.0,220.00,220.0,275.00,450.0
BMW,20.0,241.450000,60.560083,184.0,184.00,225.0,325.00,333.0
Buick,9.0,214.444444,31.369217,175.0,200.00,205.0,240.00,275.0
Cadillac,8.0,298.125000,29.512407,255.0,275.00,297.5,320.00,345.0
Chevrolet,27.0,212.814815,70.842207,103.0,170.00,200.0,285.00,350.0
Chrysler,15.0,201.133333,38.059853,150.0,165.00,200.0,226.00,255.0
Dodge,13.0,209.692308,94.912578,132.0,150.00,210.0,215.00,500.0
Ford,23.0,197.869565,57.505972,110.0,149.00,201.0,231.50,310.0
GMC,8.0,253.125000,58.489163,175.0,190.00,280.0,288.75,325.0
Honda,17.0,169.411765,59.129158,73.0,117.00,160.0,240.00,240.0
Hummer,1.0,316.000000,NaN,316.0,316.00,316.0,316.00,316.0
Hyundai,12.0,149.666667,34.035632,103.0,129.25,154.0,172.25,194.0
Infiniti,8.0,291.250000,35.531676,255.0,260.00,280.0,321.25,340.0
Isuzu,2.0,234.000000,57.982756,193.0,213.50,234.0,254.50,275.0
Jaguar,12.0,307.000000,69.550505,192.0,279.25,294.0,390.00,390.0
Jeep,3.0,178.333333,24.664414,150.0,170.00,190.0,192.50,195.0
Kia,11.0,143.090909,37.694707,104.0,114.00,124.0,181.00,195.0
Land Rover,3.0,224.333333,54.372174,174.0,195.50,217.0,249.50,282.0
Lexus,11.0,243.636364,34.935005,215.0,217.50,230.0,262.50,300.0
Lincoln,9.0,260.333333,29.694276,232.0,239.00,239.0,280.00,302.0
MINI,2.0,139.000000,33.941125,115.0,127.00,139.0,151.00,163.0
Mazda,11.0,169.727273,34.931622,130.0,142.50,160.0,198.50,238.0
Mercedes-Benz,26.0,278.692308,96.013653,168.0,215.00,281.5,302.00,493.0
Mercury,9.0,210.666667,43.674936,155.0,201.00,210.0,224.00,302.0
Mitsubishi,13.0,184.307692,47.797114,120.0,160.00,205.0,215.00,271.0
Nissan,17.0,228.000000,58.503205,126.0,180.00,240.0,265.00,305.0
Oldsmobile,3.0,165.000000,22.912878,140.0,155.00,170.0,177.50,185.0
Pontiac,11.0,195.909091,62.000733,130.0,157.50,185.0,200.00,340.0
Porsche,7.0,321.142857,78.975584,228.0,286.50,315.0,327.50,477.0
Saab,7.0,222.857143,18.898224,210.0,210.00,210.0,235.00,250.0
Saturn,8.0,145.625000,14.735162,140.0,140.00,140.0,140.75,182.0
Scion,2.0,108.000000,0.000000,108.0,108.00,108.0,108.00,108.0
Subaru,11.0,191.454545,43.345966,165.0,165.00,165.0,212.00,300.0
Suzuki,8.0,151.000000,22.245385,119.0,146.00,155.0,157.50,185.0
Toyota,28.0,180.678571,54.182855,108.0,130.00,185.0,225.00,325.0
Volkswagen,15.0,201.333333,89.949721,100.0,132.50,180.0,245.00,420.0
Volvo,12.0,223.333333,41.258241,170.0,196.25,208.0,252.25,300.0

In [98]:
car['Horsepower'].mean()

213.88657407407408

In [99]:
car['Horsepower'].min()

0.0

In [102]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,136.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,131.0,172.0

In [100]:
# How to replace column value according to your values 

car.replace('Sedan','XUV').head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,136.0,189.0
1,Acura,RSX Type S 2dr,XUV,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,131.0,172.0
2,Acura,TSX 4dr,XUV,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,135.0,183.0
3,Acura,TL 4dr,XUV,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,138.0,186.0
4,Acura,3.5 RL 4dr,XUV,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,145.0,197.0

In [103]:
# find only the 1st and 5th row data 

car.loc[[1,5]]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,131.0,172.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,145.0,197.0

In [105]:
#Find particular value acording to columns 

car.iloc[3,5]

'$33,195 '

In [107]:
# Find origin according to Europe 

car.groupby('Origin').get_group('Europe').head(10)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,134.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,135.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,134.0,179.0
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220.0,17.0,26.0,3583.0,134.0,179.0
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388",3.0,6.0,220.0,18.0,25.0,3627.0,134.0,179.0
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640","$33,129",3.0,6.0,220.0,20.0,27.0,3561.0,139.0,192.0
13,Audi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640","$35,992",3.0,6.0,220.0,18.0,25.0,3880.0,139.0,192.0
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490","$38,325",3.0,6.0,220.0,20.0,27.0,3814.0,135.0,180.0
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220.0,18.0,25.0,4013.0,135.0,180.0
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250.0,18.0,25.0,3836.0,139.0,192.0